body {
  font-family: sans-serif;
  padding: 0 20px;
}

h1 {
  text-align: center;
  font-weight: 900;
  margin: 0;
  font-size: 34px;
  line-height: 48px;
}

h1 h2,
h3 {
  color: #231d3c;
}

.logo {
  display: block;
  margin: 30px auto;
  width: 150px;
}
.challenge-1 {
  display: flex;
  flex-direction: row;
}
.challenge-2 {
  display: flex;
  justify-content: right;
}
.challenge-3 {
  display: flex;
  justify-content: space-evenly;
}
.challenge-4 {
  display: flex;
  justify-content: space-evenly;
}
.x {
  flex: 1;
  padding: 10px;
  border: 1px solid black;
}
