@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Urbanist:wght@100&display=swap");
.Weather {
  font-family: 'Courgette', cursive;
  background: rgb(238, 220, 255);
  border-radius: 16px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding: 40px;
  color: rgb(135, 135, 135);
}

.Weather form {
  margin-top: 40px;
  border-bottom: 1px solid #8454ff;
  padding-bottom: 30px;
}

.Weather .search-input {
  background: #fcfcfc;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(0, 0, 2, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.Weather .btn {
  background: #07050c;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

.Weather .search-input::placeholder {
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
}

.Weather h1 {
  margin: 20px 0 10px 0;
  line-height: 29px;
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.Weather li strong {
  color: #fd2d6b;
  font-weight: normal;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
  font-weight: bold;
  font-size: 80px;
  line-height: 1;
}

.Weather canvas {
  margin: 10px 0;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 28px;
  line-height: 36px;
  font-weight: normal;
  position: relative;
  line-height: 1;
  top: -34px;
}

.Weather footer {
  font-size: 14px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}

.Weather footer a {
  color: #885df1;
}
