body {
  font-family: sans-serif;
  padding: 0 20px;
}

h1 {
  text-align: center;
  font-weight: 900;
  margin: 0;
  font-size: 34px;
  line-height: 48px;
}

h1,
h2,
h3 {
  color: #231d3c;
}

.logo {
  display: block;
  margin: 30px auto;
  width: 150px;
  position: absolute;
  left: 0;
  top: 0;
}

.img-positioning {
  display: block;
  margin: 30px auto;
  width: 75%;
}

.cities {
  color: grey;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 10px;
}
.first {
  position: relative;
  top: -19px;
  left: 0;
}
.second {
  position: relative;
  top: 4px;
  left: -27px;
}
.third {
  position: relative;
  top: 27px;
  left: -53px;
}
